/.idea/
/banned-ips.json
/banned-players.json
/bukkit.yml
/commands.yml
/eula.txt
/help.yml
/ops.json
/paper-1.19.2-304.jar
/permissions.yml
/spigot.yml
/usercache.json
/version_history.json
/wepif.yml
/whitelist.json
/plugins/worldguard-bukkit-7.0.7-dist.jar
/versions/1.19.2/
/cache/
/config/
/libraries/
/location/
/logs/
/plugins/
/plugins/bStats/
/plugins/FastAsyncWorldEdit/
/plugins/WorldGuard/
/plugins/FastAsyncWorldEdit-Bukkit-2.4.10.jar
